# This notebook is for course Five : Regression (Supervised Learning)

In [4]:
import pandas as pd

### Importing Data Files

In [5]:
#Import Product DataSet here
product_data = pd.read_csv('Product Data Set - Student 2 of 3.csv',sep='|')
product_data.head()

   PRODUCT CODE PRODUCT CATEGORY UNIT LIST PRICE
0         30001  HEALTH & BEAUTY          $7.45
1         30002  HEALTH & BEAUTY          $5.35
2         30003  HEALTH & BEAUTY          $5.49
3         30004  HEALTH & BEAUTY          $6.46
4         30005  HEALTH & BEAUTY          $7.33

In [6]:
#Import Transaction DataSet Here
transactions_data = pd.read_csv('Transaction Data Set - Student 3 of 3.csv',sep='|')
transactions_data.head()

,CUSTOMER NUM,PRODUCT NUM,QUANTITY PURCHASED,DISCOUNT TAKEN,TRANSACTION DATE,STOCKOUT
0,10114,30011,4,0.0,1/2/2015,0
1,10217,30016,3,0.0,1/2/2015,0
2,10224,30013,4,0.0,1/2/2015,0
3,10103,30012,3,0.2,1/2/2015,0
4,10037,30010,8,0.0,1/2/2015,0

In [7]:
#Import Customer Dataset Here
customer_data=pd.read_csv('Customer Data Set - Student 1 of 3.csv')
customer_data.head()

,CUSTOMERID,GENDER,AGE,INCOME,EXPERIENCE SCORE,LOYALTY GROUP,ENROLLMENT DATE,HOUSEHOLD SIZE,MARITAL STATUS
0,10001,0,64,"$133,498",5,enrolled,06-03-2013,4,Single
1,10002,0,42,"$94,475",9,notenrolled,NaN,6,Married
2,10003,0,40,"$88,610",9,enrolled,02-09-2010,5,Married
3,10004,0,38,"$84,313",8,enrolled,06-04-2015,1,Single
4,10005,0,30,"$51,498",3,notenrolled,NaN,1,Single

### Changing Data Types

In [ ]:
customer_data['INCOME']=customer_data['INCOME'].map(lambda x : x.replace('$',''))

In [ ]:
customer_data['INCOME']=customer_data['INCOME'].map(lambda x : int(x.replace(',','')))

### Creating Customer View

In [ ]:
trans_products=transactions_data.merge(product_data,how='inner', left_on='PRODUCT NUM', right_on='PRODUCT CODE')

In [ ]:
trans_products['UNIT LIST PRICE']=trans_products['UNIT LIST PRICE'].map(lambda x : float(x.replace('$','')))

In [ ]:
trans_products['Total_Price']=trans_products['QUANTITY PURCHASED'] * trans_products['UNIT LIST PRICE'] * (1- trans_products['DISCOUNT TAKEN'])

In [ ]:
customer_prod_categ=trans_products.groupby(['CUSTOMER NUM','PRODUCT CATEGORY']).agg({'Total_Price':'sum'})

In [ ]:
customer_prod_categ=customer_prod_categ.reset_index()

In [ ]:
customer_pivot=customer_prod_categ.pivot(index='CUSTOMER NUM',columns='PRODUCT CATEGORY',values='Total_Price')

In [ ]:
trans_total_spend=trans_products.groupby('CUSTOMER NUM').agg({'Total_Price':'sum'}).\
rename(columns={'Total_Price':'TOTAL SPENT'})

In [ ]:
customer_KPIs=customer_pivot.merge(trans_total_spend,how='inner',left_index=True, right_index=True )

In [ ]:
customer_KPIs=customer_KPIs.fillna(0)

In [ ]:
customer_all_view=customer_data.merge(customer_KPIs,how='inner', left_on='CUSTOMERID', right_index=True)

In [ ]:
customer_all_view.head()

# Linear Regression

In [ ]:
#Begin Writing your code here